
# port
SERVER_PORT=5115

# dev
CLIENT_URL=http://localhost:5173
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_CHECK_URL=http://localhost:11434/api/tags
OLLAMA_MODEL=mistral:7b-instruct-q4_0

# database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=economiza+