
# port
SERVER_PORT=5115

# dev
CLIENT_URL=http://localhost:5173
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_CHECK_URL=http://localhost:11434/api/tags

# database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=economiza