@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #A7B0CA;
   --color3: #D5DCF9;
   --color3b: #d6dcf5;
   --color4: #DA4167;
   --color4b: #c10e3bc7;
   --color4c: #c10e3b55;
   --color5: #61E294;
   --color6: #ffd200;
   --color7: #0b74db;
}


.data_container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   height: 100%;
   width: 70%;

   & .btts_container{
      display: flex;
      justify-content: space-between;
      width: 36%;

      & .create_btt{
         background-color: var(--color7);
      }
   }

   & .btts_container_2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30vw;
      margin-bottom: 10px;

      & button{
         margin: 0px;
      }

      & .buttons{
         height: 6.5vh;
         width: 100%;
         margin-top: 10px;
         border-radius: 10px;
         background-color: white;

         & button{
            height: 100%;
            width: 10vw;
            background-color: transparent;
            transition: ease-in-out all 0.2s;
            color: black;
         }
         & button:hover{
            background-color: var(--color3b);
         }

         .btt_clicked{
            color: white;
            background-color: var(--color7);
         }
         & .btt_clicked:hover{
            background-color: var(--color7);
         }
      }
   }

   & .goBack{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px 8% 5% 0px;
      transition: ease-in-out transform 0.2s;
      cursor: pointer;
      
      & img{
         height: 20px;
         width: 20px;
         margin-right: 5px;
      }
      
      & h2{
         font-size: 20px;
      }
   }
   .goBack:hover{
      transform: scale(1.05);
   }
}

.data_register_container{
   display: flex;
   justify-content: flex-end;
   align-items: flex-start;
   height: 100%;
   width: 100%;

   & form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90%;
      width: 60%;
   
      & h1{
         margin-bottom: 5%;
      }
   
      & input, & select{
         border-top: 0px;
         border-left: 0px;
         border-right: 0px;
         border-bottom: 1.5px solid black;
         background-color: var(--color3b);
         text-align: center;
         width: 60%;
         margin-bottom: 40px;
         font-size: 16px;
         padding: 5px 5px;
      }
   }

   & .form_without_instructions{
      margin-right: 23%;
   }

   & .instructions{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 45%;
      width: 20%;
      margin: 10% 0px 0px 20px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid var(--color1);

      & h1{
         font-size: 17px;
      }

      & ul{
         list-style-type: none;
         padding: 0px;
         margin: 20px 0px 0px 15px;

         & li{
            font-size: 14px;
            margin-bottom: 10px;
            cursor: auto;
         }
      }

      & h2{
         font-size: 15px;
      }
   }
}

button{
   height: 45px;
   width: 12vw;
   border: none;
   border-radius: 10px;
   font-size: 14px;
   font-weight: bold;
   background-color: var(--color4);
   color: white;
   margin: 2% 0px 20px 0px;
}

.data{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   min-height: 63%;
   max-height: 85%;
   width: 85%;
   background-color: white;
   border-radius: 10px;

   & .data_navigate{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      margin: 30px 0px 10px 0px;

      & img{
         height: 25px;
         width: 25px;
         transition: ease-in-out transform 0.2s;
         cursor: pointer;
      }
      & img:hover{
         transform: scale(1.10);
      }

      & h1{
         font-size: 23px;
         margin: 0px;
      }
   }

   & h1{
      font-size: 23px;
      margin: 40px 0px 20px 0px;
   }
}

.data_registers{
   display: flex;
   justify-content: space-between;
   height: 50%;
   width: 80%;
   margin: 20px 0px 30px 0px;

   & .cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 30%;
      border-radius: 10px;
      background-color: var(--color3b);
      transition: ease-in-out transform 0.2s;

      & h1{
         font-size: 20px;
         margin: 0px 0px 10px 0px;
      }

      & h2{
         font-size: 30px;
         text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.537);
      }
   }
   & .cards:hover{
      transform: scale(1.02);
   }

   & .energy{
      border: 3px solid var(--color6);
      
      & h2{
         color: var(--color6);
      }
   }

   & .water{
      border: 3px solid var(--color7);

      & h2{
         color: var(--color7);
      }
   }

   & .gas{
      border: 3px solid var(--color4);
   
      & h2{
         color: var(--color4);
      }   
   }
}

.data_registers_2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 60%;
   width: 80%;
   margin: 10px 0px;
}

.desc{
   padding: 10px;
   width: 90%;
   margin: 5px 0px;

   & p{
      font-size: 14px;
   }
}   

.data_delete{
   margin: 10px 0px 20px 0px;
   transition: ease-in-out transform 0.2s; 
   cursor: pointer;

   & img{
      height: 40px;
      width: 40px;
   }
}
.data_delete:hover{
   transform: scale(1.05);
}

.info{
   display: flex;
   margin-top: 20px;
   transition: ease-in-out transform 0.2s;
   cursor: pointer;

   & h2{
      font-size: 18px;
      margin-right: 5px;
   }

   & img{
      height: 23px;
      width: 23px;
   }
}
.info:hover{
   transform: scale(1.02);
   text-decoration: underline;
}