@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #A7B0CA;
   --color3: #D5DCF9;
   --color3b: #d6dcf5;
   --color4: #DA4167;
   --color4b: #c10e3bc7;
   --color4c: #c10e3b55;
   --color5: #61E294;
}


.data_container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   height: 100%;
   width: 70%;
}

.data{
   min-height: 60%;
   max-height: 85%;
   width: 85%;
   margin: 5% 0px 0px 8%;
   background-color: white;
   border-radius: 10px;
}