@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #A7B0CA;
   --color3: #D5DCF9;
   --color3b: #d6dcf5;
   --color4: #DA4167;
   --color5: #61E294;
}

.app{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   width: 100%;
   background-color: var(--color3b);
}