@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #A7B0CA;
   --color3: #D5DCF9;
   --color3b: #d6dcf5;
   --color4: #DA4167;
   --color4b: #c10e3bc7;
   --color4c: #c10e3b55;
   --color5: #61E294;
}
*{
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   margin: 0;
   color: var(--color1);
   text-align: center;
   transition: ease-in-out transform 0.2s;
}

html, body{
   margin: 0;
   padding: 0;
   height: 100%;
}

input:focus{
   outline: none;
}

select:focus{
   outline: none;
}

button{
   cursor: pointer;
   transition: ease-in-out transform 0.2s;
}

button:hover{
   transform: scale(1.02);
}

strong{
   padding: 1px 5px;
   background-color: var(--color3c);
   color: white;
}

a{
   text-decoration: none;
}

.container{
   height: 100vh;
   width: 100%;
}

.homepage{
   display: flex;
   height: 85vh;
   width: 100vw;
}


/* loading */


.loading_msg{
   font-size: 17px;
   font-style: italic;
}

.loading_img{
   height: 40px;
   width: 40px;
   animation: spin 1s linear infinite;
}


/* donut graphic */


.chart-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 60%;
}

.donut {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   position: relative;
   transition: background 0.6s ease;
}

.donut-hole {
   position: absolute;
   inset: 25px;
   background: #fff;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   font-size: 27px;
}

.legend {
   display: flex;
   flex-direction: column;
   gap: 8px;
   font-size: 14px;
}

.legend div {
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: 16px;
   font-weight: bold;
}

.color {
   width: 14px;
   height: 14px;
   border-radius: 3px;
}

.color.red {
   background: var(--color4);
}

.color.black {
   background: var(--color1);
}

.color.border {
   border: 2px solid black;
   background: transparent;
}


/* tooltip */


.tooltip_btt{
   background-color: transparent;
   border: none;
   transition: ease-in-out transform 0.2s;
}
.tooltip_btt:hover{
   transform: scale(1.05);
}

.tooltip {
   position: relative;
   display: inline-block;
   cursor: pointer;
}

.tooltip::after {
   content: attr(data-tooltip);
   position: absolute;
   bottom: 120%; /* acima do elemento */
   left: 50%;
   transform: translateX(-50%);
   background: var(--color1);
   border: 2px solid var(--color3);
   color: #fff;
   padding: 6px 15px;
   border-radius: 6px;
   font-size: 13px;
   white-space: nowrap;
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.3s ease;
   z-index: 1000;
}

.tooltip:hover::after {
   opacity: 1;
}


/* animations */


@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}