@charset "UTF-8";

:root{
   --color1: #0e1116;
   --color2: #A7B0CA;
   --color3: #D5DCF9;
   --color3b: #d6dcf5;
   --color3c: #d6dcf525;
   --color4: #DA4167;
   --color5: #61E294;
}

*{
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   margin: 0;
   color: var(--color1);
   text-align: center;
   transition: ease-in-out transform 0.2s;
}

html, body{
   margin: 0;
   padding: 0;
   height: 100%;
}

input:focus{
   outline: none;
}

button{
   cursor: pointer;
   transition: ease-in-out transform 0.2s;
}

button:hover{
   transform: scale(1.02);
}

strong{
   padding: 1px 5px;
   background-color: var(--color3c);
   color: white;
}